<section class="container-fluid parcel-detail mt-5">
  <div class="row justify-content-center">
    <!-- form heading heading -->
    <div class="col-xs-12 con-head mb-4">
      <h3>Enter Parcel Details</h3>
    </div>

    <!-- form -->
    <div class="col-xs-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xs-6 col-sm-4">Parcel Type:</div>
          <div class="col-xs-6 col-sm-4">
            <select name="cat" id="cat">
              <option value="light">Light</option>
              <option value="heavy">Heavy</option>
              <option value="glass-item">Glass Item</option>
              <option value="documents">Documents</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
