<!-- <app-user></app-user> -->

<section class="container-fluid parcel-detail pb-3">
  <div class="row justify-content-center blur">
    <!-- form heading heading -->
    <div class="col-xs-12 con-head mb-5">
      <h3>Enter Parcel Details</h3>
    </div>

    <!-- form -->
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <form
            class="form py-4 mb-4"
            #parcelDetail="ngForm"
            (ngSubmit)="getParcelData(parcelDetail.value)"
          >
            <!-- parcel detail -->
            <div class="form-group parcel-type">
              Type of Parcel:
              <select name="ptype" #ptype ngModel>
                <option value="light">Light</option>
                <option value="heavy">Heavy</option>
                <option value="glass-item">Glass Item</option>
                <option value="documents">Documents</option>
              </select>
            </div>

            <!-- parcel dimention and weight -->
            <div class="form-group line">
              <div>
                Weight(in kg):
                <input type="number" name="weight" #weight ngModel />
              </div>
              <div>
                Dimention(lxb):
                <input type="text" name="dimention" #dimention ngModel />
              </div>
            </div>

            <!-- img -->
            <div class="form-group">
              Upload Image:
              <!-- <button class="btn btn-primary">upload</button> -->
              <input
                class="upload-btn"
                type="file"
                id="myFile"
                (change)="onFileSelect($event)"
                name="filename"
              />
              <span>{{ fileName }}</span>
            </div>
            <br />

            <!-- Pickup Address form -->
            <div class="form-group addr">
              <span>Pickup Address: </span>
              <div>
                <input
                  ngModel
                  type="text"
                  placeholder="Address Line 1"
                  class=""
                  name="pick1"
                  #pick1
                />
              </div>
              <div>
                <input
                  ngModel
                  type="text"
                  placeholder="Address Line 2"
                  name="pick2"
                  #pick2
                />
              </div>
              <div class="pin">
                <div>
                  City:
                  <input
                    type="text"
                    class="pcity"
                    name="pcity"
                    #pcity
                    ngModel
                  />
                </div>
                <div>
                  Pincode: <input type="number" #ppin name="ppin" ngModel />
                </div>
              </div>
            </div>

            <!-- Drop Address form -->
            <div class="form-group addr">
              <span>Drop Address: </span>
              <div>
                <input
                  ngModel
                  type="text"
                  placeholder="Address Line 1"
                  class=""
                  name="drop1"
                  #drop1
                />
              </div>
              <div>
                <input
                  ngModel
                  type="text"
                  placeholder="Address Line 2"
                  name="drop2"
                  #drop2
                />
              </div>
              <div class="pin">
                <div>
                  City:
                  <input ngModel type="text" class="dcity" name="dcity" #city />
                </div>
                <div>
                  Pincode: <input ngModel type="number" #dpin name="dpin" />
                </div>
              </div>
            </div>
            <br />

            <!-- coupon  -->
            <div class="form-group">
              Coupon:
              <!-- <button class="btn btn-primary">upload</button> -->
              <input class="upload-btn" type="text" #coupon name="coupon" />
              <a (click)="checkCoupon(coupon.value)" class="px-2 mr-2"
                >check
              </a>
              <span>{{ ccoupon }}</span>
            </div>

            <!-- buttons -->
            <div class="proceed">
              <button
                (click)="calCost(ptype.value, weight.value)"
                class="btn btn-primary mt-4"
              >
                Calculate Cost
              </button>
              <span class="p-2 pt-2"> Rs. {{ totalCost }}</span>
              <button type="submit" class="btn btn-success proceed-btn mt-4">
                Proceed
              </button>
            </div>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
