<section class="container-fluid sec-1">
  <div class="row">
    <!-- left title column for big screen -->
    <div class="container col-md-6 d-none d-md-block left"></div>

    <!-- right column for sign-up -->
    <div class="container p-2 col-md-6 col-xs-12 right">
      <!-- form -->
      <form
        #signInForm="ngForm"
        (ngSubmit)="onSubmit(signInForm.value)"
        class="form py-3 px-4"
      >
        <h4 class="mb-3">Log In -</h4>
        <input
          type="text"
          #username
          ngModel
          name="username"
          placeholder="username"
        />
        <br />
        <input
          type="password"
          #password
          ngModel
          name="password"
          placeholder="password"
        />
        <br />
        <button class="px-2 mt-4">Log In</button>
      </form>
    </div>
  </div>
</section>
