<section class="container-fluid sec-1">
  <div class="row">
    <!-- left title column for big screen -->
    <div class="container col-md-6 d-none d-md-block left">left col</div>

    <!-- right column for sign-up -->
    <div class="container p-2 col-md-6 col-xs-12 right">
      <!-- form -->
      <form
        #simpleForm="ngForm"
        (ngSubmit)="getRegisterValues(simpleForm.value)"
        class="form py-3 px-4"
      >
        <h4>Register Here -</h4>
        <input
          ngModel
          type="text"
          #username
          name="username"
          placeholder="username"
        />
        <br />
        <input ngModel type="text" #email name="email" placeholder="email" />
        <br />
        <input ngModel type="number" #phone name="phone" placeholder="phone" />
        <!-- <input type="number" #otp name="otp" placeholder="otp" /> -->
        <br />
        <input
          ngModel
          type="password"
          #password
          name="password"
          placeholder="password"
        />
        <br />
        <button class="px-2 mt-4">Sign Up</button>
      </form>
    </div>
  </div>
</section>
