<section class="container-fluid sec-1">
  <div class="row">
    <!-- left title column for big screen -->
    <div class="container col-md-6 d-none d-md-block left"></div>

    <!-- right column for sign-up -->
    <div class="container p-2 col-md-6 col-xs-12 right">
      <form
        #signUpForm="ngForm"
        (ngSubmit)="onSubmit(signUpForm.value)"
        class="form py-3 px-4"
      >
        <h4>Register Here -</h4>
        <input
          type="text"
          #username
          name="username"
          ngModel
          placeholder="username"
          required
        />
        <br />
        <input type="text" #email ngModel name="email" placeholder="email" />
        <br />
        <input
          #phone="ngModel"
          ngModel
          type="number"
          name="phone"
          placeholder="phone"
        />
        <!-- <input type="number" #otp name="otp" placeholder="otp" /> -->
        <br />
        <input
          #password
          ngModel
          type="password"
          name="password"
          placeholder="password"
        />
        <br />
        <button type="submit" class="px-2 mt-4">Sign Up</button>
      </form>
    </div>
  </div>
</section>
