<section class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <!-- table head -->
        <tr>
          <th scope="col">Order Type</th>
          <th scope="col">weight</th>
          <th scope="col">Pick Address</th>
          <th scope="col">Drop Address</th>
          <th scope="col">Charges</th>
          <th scope="col">Tracking Id</th>
        </tr>
      </thead>

      <!-- table items -->
      <tbody>
        <tr *ngFor="let item of dataArray">
          <td>{{ item.parcelType }}</td>
          <td>{{ item.weight }}</td>
          <td>{{ item.pickup }}</td>
          <td>{{ item.drop }}</td>
          <td>{{ item.cost }}</td>
          <td style="color: blue">{{ item.trackingId }}</td>
        </tr>
      </tbody>
    </table>

    <div class="placeOrder">
      <button (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</section>
